h1 {
    text-align: center;
}

.ingredients {
    margin: auto;
    border: 3px solid red;
    border-radius: 40px;
}


.steps {
    margin: auto;
    border: 3px solid red;
    border-radius: 40px;
}